build/
bin/
release/
debug/
cmake-build-*/
dist/
*build-*

.idea/
.vscode/
*.user
*.user.*
*.qmake.stash
*.pro.user
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
.DS_Store

*.exe
*.dll
*.lib
*.so
*.dylib
*.a

*.nsi
*.bat

aria2c.exe
ffmpeg.exe
N_m3u8DL-RE.exe
aria2.session

logs/
*.log
*.tmp
*.temp

qrc_*.cpp
ui_*.h
moc_*.cpp
*.qm

installer.nsi